@charset "utf-8";

/*large screens-- preferrably for PC monitors*/
@media (min-width: 768px){
	.container{
		width: /*751px*/ 80%;
	}
	.title{
		width: 751px;
	}

}
/*medium screens--preferably for tablets*/
@media (max-width: 767px) and (min-width: 536px){ /*415*/
	.container{
		width: 100% !important;
	}
}
/*small screens--preferably for smart phones*/
@media (max-width: 535px) and (min-width:335px){ /*414*/
	.container{
		width: 100%;
	}
	img.left{
		float: none !important;
		width: 100% !important;
	}
	img.right{
		float: none !important;
		width: 100% !important;
	}
	.double{
		display: block !important;
	}
	.triple{
		display: block !important;
	}


}
@media (max-width: 334px){ /*preventbreaking*/
	.container{
		width: 100%;
	}
	h1.name{
		font-size: 30px !important;
	}
	p.titletext{
		font-size: 12px !important;
	}
	img.left{
		float: none !important;
		width: 100% !important;
	}
	img.right{
		float: none !important;
		width: 100% !important;
	}
	.double{
		display: block !important;
	}
	.triple{
		display: block !important;
	}
}
/*all screens*/
html{
	height: 100%;
}
body{
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
h1.name{
	padding: 20px 0 0 0; 
	margin: 0 0 -10px 0; 
	color: white;
	/*font-family: 'Myriad Pro Condensed', 'Myriad Pro Cond', 'Arial', 'sans-serif';*/
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	display: block;
	text-shadow: 0px 0px 10px black;
}
p.titletext{
	color: white;
	font-family: 'Open Sans', sans-serif;

	display: block;
	font-size: 17px;
	margin: 0;
	text-shadow: 0px 0px 5px black;
}
.header{
	background: url(../img/Header.png) no-repeat center top;
	width: 100%;
	height: 144px;
	position: absolute;
}
.headerlogo{
	margin: 15px;
	display: inline;
	float: left;
}
.title{
	/*background-color: rgba(255,0,4,0.50);*/
	height: 100%;
	margin: auto;
}
.container{
	background-color: #b8b8b8;
	margin: auto;
	padding: 144px 0 0 0;
}
img.art{
	width: 100%;	
	padding: 20px 0 0 0;
}
img.left{
	float: left;
	width: 49%;
}
img.right{
	float: right;	
	width: 49%;
}
.single{
	width: 95%;
	margin: auto;
	display: block;
}
.double{
	margin: auto;
	width: 95%;
	display: table;
}
.triple{
	margin: auto;
	width: 95%;
	display: table;
}
.footer{
	/*background-color: rgba(255,0,4,0.50);*/
	margin: auto;
	padding: 10px 0;
	text-align: center;
}
h1{
	font-family: 'Open Sans', sans-serif;
	display: block;
	font-size: 24px;
	margin: 0 0 -3px 0;
	font-weight: 100;
}
p.footertext{
	font-family: 'Open Sans', sans-serif;
	display: block;
	font-size: 12px;
	margin: 0 0 -3px 0;
}
