@import url("dist/css/lightbox.css");
@import url("dist/css/base.css");
@import url("dist/css/bottom.css");



body{ 
	background: #cfdfee; 
	background-size: cover;
	background-position: top right, 0 0;
	font-family: "Verdana", "Times New Roman", serif; 
	font-size: 120%; 
	text-shadow: 1px 1px 1px #40454a;
}
header img{
	margin-left: auto; 
	margin-right: auto;
}
#logo{
	max-width: 190px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 3%;
	margin-bottom: 2%; 

}
#subtitle{
	position: relative;
	margin-top: -2%;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
nav{
	position: relative; 
	margin-left: auto; 
	margin-right: auto;
	width: 80%;
	height: 25%;
	font-size: 3vw;
	text-align: center;
}

ul li{
	position: relative;
	font-size: 125%;
	list-style: none;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 15px;
	display: inline-block; 
}
ul li a{

}
ul li a:hover{

}

ul li a:active{

}

ul li p{
	display: inline; 
}
*{
	margin: 0;
	padding: 0;
}
section{
	width: 85%;
	height: 100%;
	margin-bottom: 3%;
	margin-top: 0;
	margin-left: auto; 
	margin-right: auto;
	display: block;
}
section  p.title{
	margin-top: -4%;
	margin-bottom: 2%;
	margin-left: 2%;
	font-size: 150%;
	font-size: 4vw;
	color: #ebe1db;
}
section p.subtitle{
	margin-top: -2%;
	margin-bottom: 2%;
	margin-left: 2%;
	font-size: 100%;
	font-size: 2.5vw;
	color: #b5b6b7;
}
section  p.bodytitle{
	margin-top: -4%;
	margin-bottom: 2%;
	margin-left: 2%;
	font-size: 125%;
	color: #ebe1db;
}
section p.bodytext{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
	font-size: 75%;
	font-size: 2vw;
	color: #ebe1db;
	text-indent: 20px;
	line-height: 150%;
}
section  p.formtitle{
	font-size: 100%;
}
#end{
	width: 100%;
}
#center{
	width: 100%;
	background: url(img/ui/ArtMenuCenter.png);
	background-repeat: repeat-y;
	background-size: 100%;
}
#artarea{
	margin-top:2%;
	margin-bottom: 2%;
	margin-left: 8.5%;
	height: 100%;
}

img.artarea{
	margin-bottom:2%;
	margin-right: 2%;
}

#apparea{
	margin-bottom: 2%;
	margin-left: 2.5%;
	height: 100%;
}
img.apparea{
	margin-bottom: 2%;
	margin-right: 5%;
	margin-left: 2%;
	max-width: 95%;
}
#formarea{
	margin-bottom: 2%;
	margin-left: 2.5%;
	height: 100%;
}
input[type=text] {
  opacity: .75;
}
textarea{
	opacity: .75;
}
#thumbnail{
	border: 10px solid transparent;
    max-width: 60px;
	max-height: 60px;
	min-height: 40px;
	min-width: 40px;
	-webkit-border-image:url(img/ui/ThumbnailBorder.png) 10 10 round;
	-o-border-image: url(img/ui/ThumbnailBorder.png) 10 10 round; 
    border-image: url(img/ui/ThumbnailBorder.png) 10 10 round;
}
footer { 
	text-align: center;
	clear: both;
	font-size: 70%; 
	font-size: 2vw;
	font-style: italic; 
	font-variant: small-caps; 
	color: #ffffff;
	margin: 0px;
	position: relative;
	bottom: 0px;
	width: 95%;
} 
footer a { 
	color: #111111; 
} 
footer > p { 
	font-size: 100%;
} 
/*scrollbar test*/
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
}